:root {
	/* == BREAKPOINTS ==
		desktop: 64rem
		tablet: 48rem

		CSS VARS CANNOT BE USED IN MEDIA QUERIES
	*/

  --header-margin: 1.5rem 0 0.5rem 0;
  --container-padding: 0.5rem 1rem;

  --transparent-black: rgb(0, 0, 0, 0.45);
  --background-red: rgb(134, 0, 0);
  --background-dark-grey: rgb(40,40,40);
  --background-surface: rgb(55,55,55);

  --custom-box-shadow: 4px 4px 4px var(--transparent-black);
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/
@font-face {
    font-family: 'fira_sansregular';
    src: url(d9aea1df7234878a5b64.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family:
    "fira_sansregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/* 
====
MY STYLES
==== */

/*
====
Elements that have default stylings remove
==== */
figure,
h1,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
}

svg, use, a {
  width: fit-content;
  aspect-ratio: 1/1;
}

body {
  background-color: var(--background-dark-grey);
  color: white;
  line-height: 1.5;

  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  
  > * {
    /* header portrait is 300px wide on mobile.
    The smallest likely viewport is 320px wide.

    0.625rem is 10px, which subtracts 20px total from the width,
    this keeps content from touching the edges while providing enough room
    for the portrait to expand. */
    padding: 0.625rem;
  }
}
@media screen and (width >= 48rem){
  header, main, footer {
    padding: var(--container-padding);
  }
}

h1, h2, h3 {
  text-align: center;
  margin: var(--header-margin);
}
@media screen and (min-width: 64rem) {
  h1, h2, h3 {
    text-align: left;
  }
}

/* 
Special general-use class to make block-level svg's stack horizontally 

Also sets default state of the svg children of any anchor elements to allow a
visual cue when hovered or focused.
*/
.icon-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a svg {
    opacity: 0.8;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
  }
}

@media (hover: hover) {
  .icon-links a:hover svg {
    opacity: 1;
    transform: scale(1.1);
  }
}

.icon-links a:focus-visible svg {
  opacity: 1;
  transform: scale(1.1);
}

/* 
====
End of Default styling removal
==== */
header {
  background-color: var(--background-red);
  background: linear-gradient(    
    to bottom right,
    var(--background-red) 50%,
    var(--background-dark-grey) 50%);
  place-items: center;
}

header, #blurb-and-links {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/* Portrait sizing rules */
.portrait-container {
  width: 100%;
  max-width: 300px;
  position: relative;
  text-align: center;
  box-shadow: var(--custom-box-shadow);
}

@media screen and (min-width: 64rem) {
  .portrait-container {
    max-width: 500px;
  }
}

/* The portrait itself (an img element) will match
the 300px or 500px dimensions of it's parent container now */
.portrait {
  width: 100%;
  height: auto;
}

/* Portrait text overlay */
.portrait-container figcaption {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  background-color: var(--transparent-black);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

/* Social Media icons */
.social-links {
  a {
    position: relative;
    height: fit-content
  }
  svg, a{
    width: 3.5rem;
  }
}

/* Container for social about me + social media */
#blurb-and-links {
  padding: var(--container-padding);
  background-color: var(--background-surface);
  box-shadow: var(--custom-box-shadow);
}
@media screen and (min-width: 48rem) {
  #blurb-and-links {
    background-color: var(--transparent-black);
  }
}

/* Tablet only styling for header */
@media screen and (width >= 48rem) and (width < 64rem) {
  header {
    padding: 6rem;
  }
  header, #blurb-and-links {
    display: block;
  }

  .social-links ul {
    justify-content: flex-end;
  }

  .portrait-container {
    box-shadow: none;
    float: left;
    margin-left: -3rem;
    margin-top: -3rem;
    margin-right: 2rem;
    
    figcaption {
      background: none;
      top: 0;
      margin-left: 12rem;
    }
  }
}

/* Desktop only styling */
@media screen and (min-width: 64rem) {
  header {
    flex-flow: row nowrap;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  #blurb-and-links {
    width: min(50%, 60ch);
  }
  .social-links ul {
    justify-content: flex-end;
  }
}

/* Fade in animation, only if reduced-motion is turned off */
@media (prefers-reduced-motion: no-preference) {
  .portrait-container, #blurb-and-links {
    animation: fadeUp 600ms ease-out backwards;
  }
}
main, .projects-section {
    width: 100%;
    height: 100%;
}

.cards-grid, .project-details-container {
    display: grid;
    place-items: center;
}

.cards-grid {
    gap: 4rem;
    place-content: center;
}
/* Tablet 2 x 3 layout */
@media screen and (width >= 48rem) and (width < 64rem) {
    .cards-grid {
        grid-template-columns: auto auto;
    }
}
/* Desktop 3x3 layout */
@media screen  and (min-width: 64rem){
    .projects-section {
        /* Prevent stretching across very large viewport */
        width: fit-content;
        /* Centers content on screen, justify-self: center doesn't work on safari or firefox */
        margin-inline: auto;
    }
    .cards-grid {
        grid-template-columns: repeat(3, auto);
    }
}

/* Special SVG icon styling to ensure uniformity */
.project-card {
    svg {
        width: 1.5rem;
    }
}

.project-card {
    text-align: left;
    max-width: 300px;
    place-items: center;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.355);

    .project-details-container {
        width: 100%;
        height: 12rem;
        overflow: auto;
        padding: var(--container-padding);

        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "title links"
        "description description";
        background-color: var(--background-surface);
        gap: 1rem;
    }
    h3 {
        grid-area: title;
        place-self: start;
    }
    .project-links {
        grid-area: links;
        place-self: center end;
    }
    p {
        grid-area: description;
        place-self: start;
    }

    h3, p {
        margin: 0;
        padding: 0;
    }
}

/* Fade up animations */
@media (prefers-reduced-motion: no-preference) {
    .project-card {
        opacity: 0;
    }
    .project-card.begin-fade-up {
        animation: fadeUp 500ms ease-out forwards;
    }
}
footer {
    background-color: var(--background-red);
    width: 100%;
    height: 100%;
}

footer, .contact-form, .contact-form div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
footer {
    align-items: center;
    gap: 1rem;
    /* Remove the margin so gap can handle spacing */
    h2 {
        margin-bottom: 0;
    }
}
.contact-form, .contact-form div {
    /* Keep form elements to the left no matter what */
    align-items: start;
}

.contact-form {
    /* 28.125rem is about 450px */
    width: min(100%, 28.125rem);
    gap: 1rem;
    text-align: left;

    .form-disclaimer {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.75);
    }
    
    div, div > * {
        width: inherit;
        border-radius: 0.2em;
    }

    /* Default styling + nested focus styling */
    input, textarea, button {
        border: none;
        background-color: var(--background-dark-grey);
        color: white;

        outline: 2px solid transparent;
        outline-offset: 2px;
        transition: outline-color 0.2s ease-out;

        &:focus-visible {
            outline-color: rgba(255, 255, 255, 0.75);
        }
    }

    /* Shared padding + nested placeholder styling */
    input, textarea {
        padding-left: 0.3em;
        &::placeholder {
            color: rgba(255, 255, 255, 0.5)
        }
    }
    
    input {
        height: 2em;
    }
    textarea {
        resize: vertical;
    }
    label, button {
        font-size: 0.8rem;
        letter-spacing: 0.1em;
    }

    /* Button styling + hovering behaviour */
    button {
        height: 3em;
        transition: background-color 0.2s ease;
    }
    /* Fixes the sticky hover state on mobile devices */
    @media (hover: hover) {
        button:hover {
            background-color: color-mix(in srgb, var(--background-dark-grey), #fff 15%);
            cursor: pointer;
        }
    }
    button:active, button:focus-visible {
        background-color: color-mix(in srgb, var(--background-dark-grey), black 15%);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .contact-form > * {
        opacity: 0;
    }
    .contact-form > *.begin-fade-up {
        animation: fadeUp 350ms ease-out forwards;
    }
}
