footer {
    background-color: var(--background-red);
    padding: var(--container-padding);;
    width: 100%;
    height: 100%;
}

footer, .contact-form, .contact-form div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
footer {
    align-items: center;
    gap: 1rem;
    /* Remove the margin so gap can handle spacing */
    h2 {
        margin-bottom: 0;
    }
}
.contact-form, .contact-form div {
    /* Keep form elements to the left no matter what */
    align-items: start;
}

.contact-form {
    /* 28.125rem is about 450px */
    width: min(100%, 28.125rem);
    gap: 1rem;
    text-align: left;
    
    div, div > * {
        width: inherit;
        border-radius: 0.2em;
    }

    input, textarea, button {
        border: none;
        outline: none;
        background-color: var(--background-dark-grey);
        color: white;
    }
    input, textarea {
        padding-left: 0.3em;
    }
    input {
        height: 1.5em;
    }
    textarea {
        resize: vertical;
    }
    button {
        height: 3em;
    }
    label, button {
        font-size: 0.8rem;
        letter-spacing: 0.1em;
    }

    /* Focus styling */
    input, textarea, button {
        &:focus-visible {
            outline: 2px solid rgba(255, 255, 255, 0.75);
            outline-offset: 2px;
        }
    }

    /* Button hovering */
    button {
        transition: background-color 0.2s ease;
    }
    /* Fixes the sticky hover state on mobile devices */
    @media (hover: hover) {
        button:hover {
            background-color: color-mix(in srgb, var(--background-dark-grey), #fff 15%);
            cursor: pointer;
        }
    }
    button:active, button:focus-visible {
        background-color: color-mix(in srgb, var(--background-dark-grey), black 15%);
    }
}