main, .projects-section {
    width: 100%;
    height: 100%;
}

.cards-grid, .project-details-container {
    display: grid;
    place-items: center;
}

.cards-grid {
    gap: 4rem;
}

#projects-heading {
    margin: var(--header-margin);
    text-align: center;
}

/* Special SVG icon styling to ensure uniformity */
.project-card {
    svg {
        width: 1.5rem;
    }
}

.project-card {
    text-align: left;
    max-width: 300px;
    place-items: center;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.355);

    .project-details-container {
        width: 100%;
        height: 12rem;
        overflow: auto;
        padding: var(--container-padding);

        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "title links"
        "description description";
        background-color: var(--background-surface);
        gap: 1rem;
    }
    h3 {
        grid-area: title;
        place-self: start;
    }
    .project-links {
        grid-area: links;
        place-self: center end;
    }
    p {
        grid-area: description;
        place-self: start;
    }

    h3, p {
        margin: 0;
        padding: 0;
    }
}