main, .projects-section {
    width: 100%;
    height: 100%;
}

.projects-section, .project-card {
    display: grid;
    place-items: center;
}

.project-card {
    svg, a {
        width: 2.5rem;
    }
}

.project-card {
    text-align: left;
    max-width: 300px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "thumbnail thumbnail"
    "title links"
    "description description";

    .thumbnail {
        grid-area: thumbnail;
    }
    h3 {
        grid-area: title;
    }
    .project-links {
        grid-area: links;
    }
    p {
        grid-area: description;
    }
}