/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/
@font-face {
    font-family: 'fira_sansregular';
    src: url('../assets/fonts/firasans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family:
    "fira_sansregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/* 
====
MY STYLES
==== */

/*
====
Elements that have default stylings remove
==== */
:root {
  --header-margin: 1.5rem 0 0.5rem 0;
  --container-padding: 0.2rem 0.5rem;

  --transparent-black: rgb(0, 0, 0, 0.45);
  --background-red: rgb(134, 0, 0);
  --background-dark-grey: rgb(40,40,40);

  --custom-box-shadow: 4px 4px 4px var(--transparent-black);
}

figure,
h1,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--background-dark-grey);
  color: white;
  line-height: 1.5;
}

h1 {
  text-align: center;
  margin: var(--header-margin);
}
@media screen and (min-width: 1024px) {
  h1 {
    text-align: left;
  }
}
/* 
====
End of Default styling removal
==== */

header {
  background-color: var(--background-red);
  background: linear-gradient(to bottom right, var(--background-red) 50%, transparent 50%);
  place-items: center;
  padding: 1rem;
}

header, #blurb-and-links {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/* Portrait sizing rules */
.portrait-container {
  width: 100%;
  max-width: 300px;
  position: relative;
  text-align: center;
  box-shadow: var(--custom-box-shadow);
}

@media screen and (min-width: 1024px) {
  .portrait-container {
    max-width: 500px;
  }
}

/* The portrait itself (an img element) will match
the 300px or 500px dimensions of it's parent container now */
.portrait {
  width: 100%;
  height: auto;
}

/* Portrait text overlay */
.portrait-container figcaption {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  background-color: var(--transparent-black);
}

/* Social Media icons */
.social-links {
  ul {
    display: flex;
    place-content: center;
    gap: 1rem;
  }
  a {
    position: relative;
    height: fit-content
  }
  svg, a{
    width: 3.5rem;
    aspect-ratio: 1/1;
  }
}

/* Container for social about me + social media */
#blurb-and-links {
  padding: var(--container-padding);
  background-color: var(--background-dark-grey);
  box-shadow: var(--custom-box-shadow);
}
@media screen and (min-width: 37.5rem) {
  #blurb-and-links {
    background-color: var(--transparent-black);
  }
}

/* Tablet only styling for header */
@media screen and (width >= 37.5rem) and (width < 64rem) {
  header {
    padding: 6rem;
  }
  header, #blurb-and-links {
    display: block;
  }

  .social-links ul {
    justify-content: flex-end;
  }

  .portrait-container {
    box-shadow: none;
    float: left;
    margin-left: -3rem;
    margin-top: -3rem;
    margin-right: 2rem;
    
    figcaption {
      background: none;
      top: 0;
      margin-left: 12rem;
    }
  }
}