:root {
	/* == BREAKPOINTS ==
		desktop: 64rem
		tablet: 48rem

		CSS VARS CANNOT BE USED IN MEDIA QUERIES
	*/

  --header-margin: 1.5rem 0 0.5rem 0;
  --container-padding: 0.5rem 1rem;

  --transparent-black: rgb(0, 0, 0, 0.45);
  --background-red: rgb(134, 0, 0);
  --background-dark-grey: rgb(40,40,40);
  --background-surface: rgb(55,55,55);

  --custom-box-shadow: 4px 4px 4px var(--transparent-black);
}